<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>ROCK PAPER SCISSORS</title>
</head>

<body class = "main_homepage" >

        <h1>Rock, Paper, Scissors!</h1>
        <nav>
            <a href="/visualgame">Play against a human</a>
            <br>
            <br>
            <a href="/play">Play against the computer</a>
            <br>
            <br>
            <a href="/rules">Rules</a>
        </nav>
</body>


</html>