{% extends "base.html" %}    
    
{% block content %}

<main>

<h2> Rules! </h2>

<p>There are two ways to play!</p>
<ul>
    <h3> Method 1: </h3>
    <li> Go to the url and enter '/' followed by Player 1's choice and then '/' followed by Player 2's choice </li>
    <li> Press enter and your result will appear!</li>
</ul>

<ul>
    <h3> Method 2: </h3>
    <li> Go to the <a href="/visualgame">home</a> page </li>
    <li> Enter each player's choice in the corresponding box</li>
    <li> Click submit and your result will appear!</li>
</ul>

</main>
{% endblock %}

<a href=""></a>